proxmox_api_url = "https://10.13.104.211:8006/api2/json"
proxmox_api_token_id = "root@pam!terraform"
proxmox_api_token_secret = "0e0f1e68-f079-442b-b440-5a90e58e4449"
target_node = "pureewat"
template_name = "ubuntu-cloud-template"
vm_count = 1
vm_ip = "10.13.104.62/24"
vm_gateway = "10.13.104.254"