[docker_nodes]
%{ for vm in docker_vms ~}
${vm.name} ansible_host=${vm.default_ipv4_address != null ? vm.default_ipv4_address : regex("ip=([^/,]+)", vm.ipconfig0)[0]}
%{ endfor ~}

[monitor]
${monitor_vm.name} ansible_host=${monitor_vm.default_ipv4_address != null ? monitor_vm.default_ipv4_address : regex("ip=([^/,]+)", monitor_vm.ipconfig0)[0]}

[proxmox_vms:children]
docker_nodes
monitor

[all:vars]
ansible_user=${ssh_user}
ansible_ssh_private_key_file=/root/.ssh/id_ed25519
ansible_become_password=${ssh_password}
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
