[proxmox_vms]
%{ for vm in vms ~}
${vm.name} ansible_host=${vm.default_ipv4_address != null ? vm.default_ipv4_address : regex("ip=([^/,]+)", vm.ipconfig0)[0]}
%{ endfor ~}

[all:vars]
ansible_python_interpreter=/usr/bin/python3
ansible_ssh_common_args='-o StrictHostKeyChecking=no'
